* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-text-color);
  transition: background-color 400ms, color 400ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

:root {
  --ff: "Poppins", sans-serif;
  --fs-p: 1.3rem;
  --fs-h1: 3rem;
  --fw-regular: 500;
  --fw-bold: 700;

  --clr-primary-matte-black: #3b3b3b;

  --clr-complementary-matte-black-highlight: #404040;
  --clr-complementary-matte-black-shadow: #363636;

  --main-text-color: #ffffff;

  --br: 40px;
}

body {
  background: var(--clr-primary-matte-black);
  font-family: var(--ff);
  font-size: var(--fs-p);
  font-weight: var(--fw-regular);
  height: 100vh;
  color: var(--main-text-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  /* min-height: 100%; */
  margin: auto;
  padding-block: 100px;
  padding-inline: 30px;
  position: relative;
  text-align: center;
}

h1 {
  font-family: var(--ff);
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
}

.links {
  display: flex;
  margin-top: 50px;
  height: 100%;
  flex-direction: column;
  align-content: center;
  justify-content: flex-start;
  gap: 50px;
  font-family: var(--ff);
  font-size: var(--fs-p);
  font-weight: var(--fw-bold);
}

.link {
  position: relative;
  width: 100%;
  padding: 30px;
  background: var(--clr-primary-matte-black);
  border-radius: var(--br);
  cursor: pointer;
  box-shadow: 0 0 0 var(--clr-complementary-matte-black-shadow),
    0 0 0 var(--clr-complementary-matte-black-highlight);
  color: transparent;
  -webkit-user-select: none;
  user-select: none;
  transition: box-shadow 500ms, color 500ms;
  display: none;
  & p {
    filter: drop-shadow(
      0 0 0px color-mix(in srgb, var(--main-text-color) 60%, transparent)
    );
    transition: filter 200ms, color 500ms;
    color: transparent;
  }
}

.link:hover > p {
  filter: drop-shadow(
    0 0 5px color-mix(in srgb, var(--main-text-color) 60%, transparent)
  );
}

.link:active {
  box-shadow: 0 0 0 var(--clr-complementary-matte-black-shadow),
    0 0 0 var(--clr-complementary-matte-black-highlight),
    inset 12.31px 12.31px 23px var(--clr-complementary-matte-black-shadow),
    inset -12.31px -12.31px 23px var(--clr-complementary-matte-black-highlight) !important;
  transition: box-shadow 200ms, color 200ms;
  & p {
    color: color-mix(in srgb, var(--main-text-color) 70%, black) !important;
    filter: drop-shadow(
      0 0 0px color-mix(in srgb, var(--main-text-color) 60%, transparent)
    );
  }
}

.link.shown {
  box-shadow: 12.31px 12.31px 23px var(--clr-complementary-matte-black-shadow),
    -12.31px -12.31px 23px var(--clr-complementary-matte-black-highlight);

  -webkit-user-select: unset;
  user-select: unset;
  & p {
    color: var(--main-text-color);
  }
}

#toggler-web,
#toggler-social {
  display: block;
  background: ();
}

#toggler-web::before,
#toggler-social::before {
  content: "";
  position: absolute;
  font-size: 42px;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  height: 14px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--main-text-color);
  box-shadow: 0 0 3px var(--main-text-color), 0 0 5px var(--main-text-color), 0 0 10px var(--main-text-color);
  color: var(--main-text-color);
  transition: background 500ms, box-shadow 500ms;
}

#toggler-web:active::before,
#toggler-social:active::before{
  --modded-color: color-mix(in srgb, var(--main-text-color) 70%, black);
  background: var(--modded-color);
  box-shadow: 0 0 3px var(--modded-color), 0 0 5px var(--modded-color), 0 0 0px var(--modded-color);
}


.animate-down {
  animation: go-down 200ms normal;
  margin-top: 0;
}
.animate-up {
  margin-top: calc((3rem + 50px) * 5);
  animation: go-up 200ms forwards;
}

@keyframes go-down {
  to {
    margin-top: calc((3rem + 50px) * 5 + 49px);
  }
}

@keyframes go-up {
  to {
    margin-top: 0;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--clr-primary-matte-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: color-mix(
    in srgb,
    var(--clr-primary-matte-black) 90%,
    var(--main-text-color)
  );
  border-radius: 50vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: color-mix(
    in srgb,
    var(--clr-primary-matte-black) 60%,
    var(--main-text-color)
  );
}

.sun-container {
  z-index: 1;
  max-width: 150px;
  position: absolute;
  top: 50px;
  right: 50px;
  aspect-ratio: 1;
  padding: 25px;
  background: var(--clr-primary-matte-black);
  border-radius: 50%;
  box-shadow: 12.31px 12.31px 23px var(--clr-complementary-matte-black-shadow),
    -12.31px -12.31px 23px var(--clr-complementary-matte-black-highlight);
  transition: box-shadow 200ms, transform 200ms, inset 200ms;
}
.sun-container:active {
  box-shadow: 0 0 0 var(--clr-complementary-matte-black-shadow),
    0 0 0 var(--clr-complementary-matte-black-highlight),
    inset 12.31px 12.31px 23px var(--clr-complementary-matte-black-shadow),
    inset -12.31px -12.31px 23px var(--clr-complementary-matte-black-highlight) !important;
  & #sunmoon {
    filter: brightness(0.75);
  }
}

#sunmoon {
  width: 100%;
  transition: filter 200ms;
}

#center,
#mask-rays,
#mask-center {
  transform-origin: center;
  transition: transform 250ms ease-out;
}
#center {
  fill: white;
  transform: rotate(-35deg);
}
#rays {
  stroke: white;
  stroke-width: 2px;
}

body.dark #center {
  transform: rotate(-35deg) scale(2);
}
body.dark #mask-rays {
  transform: scale(0.5);
}
body.dark #mask-center {
  transform: translateX(-18px);
}


@media (width < 800px) {
  .sun-container{
    transform: scale(.3);
    top: 0px;
    right: 0px;
  }
}